[defaults]
host_key_checking = False
inventory = inventory.ini
stdout_callback = yaml
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-%%h-%%p-%%r
